html{
    background-color: aqua;
}
h3{
    font-family: 'Sofia', cursive;
}
img{
    width:430px;
    height:460px;
    box-shadow: 8px 8px 0px #aaa; 
    &:hover{
        transform:scale(1.25);
        transition-duration: 1s;
        opacity:0.7;
    }
}
body{
    margin-left:250px;
    margin-top:100px;
    box-shadow: 10px 10px 10px 10px #aaa; 
    width:430px;
    background-color: white;
}
.top{
    border-radius:50%;
    width:60px;
    height:60px;
    background-color: red;
    position: absolute;
    right:0%;
    z-index: 1;
    margin-top:15px;
    margin-right:80px;
}
.relate{
    position: relative;
    width:430px;
    overflow: hidden;
    height:400px;
    &:hover{
        > .bottom{
            bottom:0px;
        }
 
    }
}
.date{
    text-align:center;
    
}
.picture{
    background-color: red;
    position: absolute;
    top:-40px;
    width:100px;
    height: 30px;
    color:white;
    text-align:center;
    font-weight:bold;

}
.hide{
    width:470px;

}
.bottom{
    position: absolute;
    background-color: white;
    opacity:1;
    bottom:-90px;
    transition: bottom 0.7s linear;
}